<div class="row">
	<main class="col-md-12">


		<br>
		Welcome to About page, here you can find some basic information about myself
		<br><br>
		<h4>
			About Me
		</h4>

		<p style="text-align: justify;">
			My name is Rijoe Chacko Mathew, you can call me Rijoe. I grew up and completed my studies in Kerala, India.
			I have a Bachelor of Technology degree in Electronics and Communication. I am very much fond of computer
			programming, so I chose the path of IT after completing my degree.
			After my degree, I have worked in Infosys Limited as a Technology Analyst for around 4 years. Then to
			broaden my knowledge in IT and to experience the cultural diversity of Canada, I chose the BTT program at
			Seneca.
			I am a tech enthusiast and an amateur photographer. I am a self-taught singer and love to do music covers
			often during my leisure time.<br>
			<br>
			Name: Rijoe Chacko Mathew<br>
			Student ID: 132469214<br>
			Program: Business Information Technology(BTT)<br>
			Email: <a href="mailto:rcmathew1@myseneca.ca">rcmathew1@myseneca.ca</a>
		</p>



	</main>
</div>