<div class="row">
    <div class="col-md-12">
        <br>
        <h2>Courses</h2>
        <hr />
        
        <p>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Course Code</th>
                            <th>Course Description</th>
                        </tr>
                    </thead>

                    <tbody>
                        {{#each courses}}
                        <tr>
                            {{#courseIdLink courseId}}{{courseCode}}{{/courseIdLink}}                            
                            {{#courseLink courseId}}{{courseDescription}}{{/courseLink}}
                        </tr>
                        {{/each}}
                    </tbody>

                </table>
            </div>
        </p>

    </div>
    {{#unless courses}}
    <div class="col-md-12 text-center">
        <strong>{{message}}</strong>
    </div>
    {{/unless}}
</div>